:root {
    --primary-color: #F2F2F2;
    --font-color: #4A4A4A;
    --bg-color: #FFFFFF;
    --secondary-font-color: #494949;
    --placeholder-color: #c7c7c7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    padding: 0 !important;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Martel Sans', sans-serif;
    width: 100%;
    overflow-x: hidden;
}

a {
    color: var(--font-color);
}

p {
    font-size: 0.9em;
}

*:focus {
    outline: none;
}

.resetka {
    display: grid;
    grid-template-columns: 400px 50px auto 50px 400px;
    grid-template-rows: 50px 50px 500px;
}

.stupac {
    grid-column: 3;
    width: 100%;
    margin: auto;
}

.carousel-vanjski {
    overflow: hidden;
}

.carousel-unutarnji {
    display: flex;
    white-space: nowrap;
    justify-items: center;
    left: -100%;
    position: relative;
}

.carousel {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: -100%;
    transform: translateX(100%);
}

.tranzicija-unatrag {
    transform: translateX(-100%);
}

.tranzicija {
    transform: none;
    transition: transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}

.artikl {
    flex: 1 0 100%;
    order: 2;
}

.carousel-unutarnji > * {
    display: inline-block;
}

.container-vijesti {
    flex: 1 0 100%;
    order: 2;
}

.ref {
    order: 1;
}

.strelica {
    cursor: pointer;
}

.naslov {
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
}

.pretrazivanje {
    border: 1px solid var(--font-color);
    border-radius: 3px;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.vijesti {
    display: flex;
    white-space: normal;
    min-width: 48rem;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.slika-clanka > img {
    border-radius: 3px;
    vertical-align: top;
}

.tekst-clanka > h2, p, a {
    padding: 0 24px 0 24px;
}

h1 {
    font-weight: 900;
    margin: 0;
}

.input-pretrazi {
    border: none;
    padding: 16px;
    width: 90%;
}

.input-pretrazi::placeholder {
    color: var(--placeholder-color);
}

input:focus::placeholder {
    color: transparent;
}

.dugme-pretrazi {
    float: right;
    border: none;
    padding: 12px 18px 12px 18px;
}

.dugme-pretrazi:hover {
    cursor: pointer;
}

.lijeva-strelica, .desna-strelica {
    display: inline-block;
}

.nevidljiv {
    visibility: hidden;
}