:root {
    --primary-color: #F2F2F2;
    --font-color: #4A4A4A;
    --bg-color: #FFFFFF;
    --secondary-font-color: #494949;
    --placeholder-color: #c7c7c7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0 !important;
    padding: 6rem 0 0 0 !important;
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: 'Martel Sans', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

*:focus {
    outline: none;
}

a {
    color: var(--font-color);
}

h1 {
    font-weight: 900;
    margin: 0;
}

h2 {
    line-height: 1.3;
    padding-top: 18px !important;
}

.resetka {
    display: grid;
    grid-template-columns: auto 70px 48rem 70px auto;
    grid-template-rows: 50px 50px 500px;
    grid-gap: 20px 0;
    align-items: center;
}

.lijeva-strelica {
    grid-column: 2;
    grid-row: 1 / 4; 
}

.desna-strelica {
    grid-column: 4;
    grid-row: 1 / 4; 
}

.lijeva-strelica, .desna-strelica {
    z-index: 3;
    text-align: center;
    padding-top: 4rem;
    visibility: hidden;
}

.strelica {
    cursor: pointer;
    width: 25px;
}

.naslov {
    grid-column: 3;
    grid-row: 1;
}

.pretrazivanje {
    grid-column: 3;
    grid-row: 2;
    border: 1px solid var(--font-color);
    border-radius: 3px;
    z-index: 3;
}

.carousel-vanjski {
    grid-column: 1 / 6;
    grid-row: 3;
    overflow: hidden;
}

.carousel-unutarnji > * {
    display: inline-block;
}

.carousel {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: -100%;
    transform: translateX(100%);
}

.tranzicija-unatrag {
    transform: translateX(-100%);
}

.tranzicija {
    transform: none;
    transition: transform 0.75s cubic-bezier(0.23, 1, 0.32, 1);
}

.artikl {
    flex: 1 0 100%;
    order: 2;
}

.ref {
    order: 1;
}

.input-pretrazi {
    border: none;
    padding: 18px;
    width: 90%;
    font-size: 1em;
}

.input-pretrazi::placeholder {
    color: var(--placeholder-color);
    font-family: 'Martel Sans', sans-serif;
}

input:focus::placeholder {
    color: transparent;
}

.dugme-pretrazi {
    float: right;
    border: none;
    padding: 16px;
}

.dugme-pretrazi:hover {
    cursor: pointer;
}

.vijesti {
    display: flex;
    max-width: 48rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 3px;
    background-color: var(--primary-color);
}

.slika-clanka > img {
    border-radius: 3px;
    vertical-align: top;
    width: 320px;
    height: 460px;
    object-fit: cover;
}

.tekst-clanka > h2, p, a {
    padding: 0 24px 0 36px;
}

.tekst-clanka > a {
    font-weight: 700;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 38px;
}