@media screen and (max-width: 1200px) {
    
    /*.carousel {
        left: -50%;
        transform: translateX(50%);
    }

    .artikl {
        flex-basis: 50%;
    }*/
}

@media screen and (max-width: 900px) {
    
    /*.carousel {
        left: -33.33333%;
        transform: translateX(33.33333%)
    }

    .artikl {
        flex-basis: 33.33333%
    }*/
}